<h1>{{selectedItem.task}}</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="col-xs-4"><h3>Assigned to: {{selectedItem.assignedTo}}</h3></div>
    <div class="col-xs-4"><h3>Due date: {{selectedItem.dueDate}}</h3></div>
    <div class="col-xs-4"><h3>Urgency: {{selectedItem.urgency}}</h3></div>
    <div class="col-xs-4"><h3>Location: {{selectedItem.location}}</h3></div>
    <div class="col-xs-4"><h3>What you'll need: {{selectedItem.dependencies}}</h3></div>
  </div>
</div>
